body {
  /* background: linear-gradient(120deg, #6a11cb 0%, #2575fc 100%);
  background-size: 400% 400%; */
  font-family: "raleway";
  font-style: normal;
  background-color: #e2e1e0;
  color: black;
  /* -moz-animation: AnimationName 30s ease infinite;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; */
}
article {
  /* display: flex; */
  width: 75%;
  /* align-self: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin: 0 auto;
}
aside {
  display: flex;
  width: 100%;
  opacity: 1;
  align-self: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

h1,
h5 {
  text-align: center;
}

a,
a:active,
a:hover {
  color: black;
  text-decoration: none;
  font-style: normal;
}
.shadowHover:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.borderRules {
  border-radius: 5px;
}

.buttonsHolders {
  text-align: center;
}

.borderRadius {
  border-radius: 5px;
}

.button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  color: black;
  color: black;
  background-color: white;
  line-height: 50px;
}

.button p {
  margin: 0 auto;
  line-height: 50px;
}
.loader {
  width: 150px;
  height: 150px;
  background-image: url("../img/loading.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.loader p {
  text-align: center;
  color: white;
}
.backbutton {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  background: linear-gradient(120deg, #ff416c 0%, #ff4b2b 100%);
  background-size: 100% 100%;
  -moz-animation: AnimationName 30s ease infinite;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.backbutton a {
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.backbutton a:hover {
  color: white;
}

.backbutton a {
  width: 100%;
  text-align: center;
}

#list {
  display: inline-flex;
  width: 100%;
  opacity: 1;
  align-self: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.deaths {
  background-color: white;
  margin: 10px 0;
}
.incident {
  position: relative;
  width: calc(33% - 40px);
  min-width: 150px;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  opacity: 1;
  background-color: white;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.incident p {
  width: 100%;
}

.death {
}

.death img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: auto;
}

.map {
  display: inline-flex;
  width: 100%;
  height: 500px;
  background-color: red;
}

#list:hover .incident:not(:hover) {
  opacity: 0.65;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
#personKilled {
  display: inline-flex;
  align-self: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.personKilledImg {
  width: 25px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.male {
  background-image: url("../img/male.svg");
}

.female {
  background-image: url("../img/female.svg");
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */

@-webkit-keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}
